root{
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #0c0c0c;
    --color-dark2: #252525;
    --color-purple1: #9333FF;
    --color-purple2: indigo;

}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    background-color: rgb(32, 32, 32);
    padding: 2rem;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
}

h1{
    margin-bottom: 3rem;
    text-align: center;
}
.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required{
    display: none;
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: #e63636;
}

.input{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(32, 32, 32);
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: 0.15s;
}
.input:focus{
    border-color: rgb(182, 15, 182);

}

.box-select{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    gap: 1rem;
    flex-direction: column;
    
}

button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: rgb(70, 12, 109);
    cursor: pointer;
    transition: .15s;
}

button[type="submit"]:hover{
    background-color: rgb(182, 15, 182);
}

@media screen and (max-width: 576px) {
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
}